Repository nodejs-projects-kenanhancer/gcp-cloudrun-service-kafka-consumer: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, check-yaml, pretty-format-json, mdformat

eslint:
  name: eslint
  entry: yarn eslint
  language: system
  args:
  - --fix
  pass_filenames: true

prettier:
  name: prettier
  entry: yarn prettier
  language: system
  args:
  - --write
  pass_filenames: true

check-yaml:
  name: check-yaml
  entry: yarn check-yaml
  language: system

pretty-format-json:
  name: pretty-format-json
  entry: yarn pretty-format-json
  language: system
  args:
  - --autofix
  - --indent
  - '2'

mdformat:
  name: mdformat
  entry: yarn mdformat
  language: system

refactored
  README.md
Due: prettier, mdformat

github workflow is refactored
  .github/workflows/gitflow-terraform-deploy.yml
Due: prettier, check-yaml

refactored
  src/infrastructure/config/type.ts
Due: eslint, prettier

README is updated for yarn installation
  README.md
Due: prettier, mdformat

Sync v5 scripts toolkit, fix workflow parsing, add tests and keyless init
  .github/workflows/gitflow-terraform-deploy.yml
  .github/workflows/scripts-tests.yml
  .husky/pre-commit
  README.md
  scripts/check_and_import_resources.sh
  scripts/get_environment_config.sh
  scripts/init_terraform.sh
  scripts/providers/aws_provider.sh
  scripts/providers/azure_provider.sh
  scripts/providers/gcp_provider.sh
  scripts/sync_env_vars_to_github.sh
  scripts/sync_schema_to_cloud.sh
  scripts/tests/run_tests.sh
Due: prettier, check-yaml, mdformat

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$
  prettier: any of: \.(js|mjs|cjs)$, \.(ts|mts|cts)$, \.json$, \.(md|markdown|mdown)$, \.(yaml|yml)$
  check-yaml: any of: \.(yml|yaml)$
  pretty-format-json: any of: \.(json)$, but not: ^\.vscode/|package.json|tsconfig.json
  mdformat: any of: \.(md|markdown)$
